DATABASE_URL="postgresql://postgres:TU_PASSWORD@db.xxxxxxxxxxxx.supabase.co:6543/postgres"
DIRECT_URL="postgresql://postgres:TU_PASSWORD@db.xxxxxxxxxxxx.supabase.co:5432/postgres"
JWT_SECRET="tu-secreto-super-seguro"
PORT=3000
NODE_ENV=development