# Server
PORT=3000
NODE_ENV=development

# MongoDB
DB_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/bildyapp

# JWT
JWT_SECRET=tu_secreto_jwt_muy_largo_y_seguro_minimo_32_caracteres
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# Uploads
MAX_FILE_SIZE=5242880
